.cart-page {
    margin: 80px auto;
}

.cart-page table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

.cart-page th {
    text-align: left;
    padding: 5px;
    color: var(--color-bg);
    background: var(--color-primary);
    font-weight: normal;
}

.cart-page td {
    padding: 10px 5px;
    color: black;
}

.botonEliminar {
    color: var(--color-orange);
    background: transparent;
    text-align: left;
}

.cart-page td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}